  body {
    font-family: “Lucida Grande”, sans-serif;
    color:#66C0E6;
    background-image:url('Cloudsdale1.gif');
    background-repeat:no-repeat;
    background-color:#287CA2;
  }
  .avatar {
    position: absolute;
  }
  .chat_display {
    position: absolute;
    margin: 3px;
    padding: 5px;
    background-color: #730BA0;
    border-style: solid;
    border-color: #FFF;
    border-radius: 3px;
  }
  #usercontrols {
    float: left;
    clear: both;
  }
  #flyzone {
    float:left;
    clear:both;
    border-style:solid;
    border-width:10px;
    border-color:#CEAEFA;
    border-radius:20px;
    height: 550px;
    width: 990px;
    margin: -22px 5px 5px -10px;
  }
